.env
.env.*
*.log
.git
.github
.vscode
.idea
node_modules
vendor
public/build
public/hot
public/storage
storage/app/public/*
storage/logs/*
database/database.sqlite
tests
.dockerignore
Dockerfile
render.yaml
README.md
